*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid #000000;*/
  background-color: #FFF0F5;
  font-family: "sans-serif";
}
p{
  font-size: 24px;
}
img{
  max-width: 100%;
}
.explanation, .explanation p, .welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome{
  max-width: 90%;
  justify-content: center;
  padding: 24px;
  border: 1px solid #000;
}
.explanation p{
  padding: 20px;
}
.line{
  width: 100%;
}
.header_line{
  width: 36%;
}
.container_main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Description{
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.par{
  margin: 5px;
}
.comparison_p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  padding: 4px;
}

.header, .main, .footer{
  display: flex;
  border: 1px solid #000000;
}
.home_link{
  display: flex;
  font-size: 36px;
  background-color: #000;
}
.menu_items{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 28px;
  background-color: #000;
  float: right;
}
.navbar {
  display: flex;
  overflow: hidden;
  background-color: #000;
}
.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu{
  display: flex;
  justify-content: flex-end;
  background: #000;
}
.dropdown {
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 28px;
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #000;
  font-family: inherit;
  margin: 0;
  height: 100%;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.main {
  flex-direction: column;
  align-items: center;
}
.photo_home{
  margin: 20px;
}
.text_home{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.photo_text, .photo_home{
  width: 500px;
  padding: 20px;
}
.quote{
  margin: 12px;
  margin-top: 60px;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
  margin: 24px;
  flex-wrap: wrap;
}
.image_title{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.photo-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.emotion-grid-item {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 30%;
  justify-content: center;
  align-items: center;
}
.emotion_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #000 5px 10px;
  border: 1px solid #000;
  margin: 12px;
}
.emotion-grid-item img{
  box-shadow: #000 4px 8px;
  margin: 10px;
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}
.emotion-grid-item p{
  padding: 4px;
  padding-left: 24px;
  padding-right: 24px;
}
.container{
  min-height: 100%;
  min-width: 100%;
  position: relative;
}
.footer{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  max-width:100%;
  min-width: 100%;
}
.comparison_main, .about_main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  margin: 24px;
  font-family: "cursive";
}
.comparison_main p, .about_main p{
  font-family: "cursive";
}
ul{
  padding-left: 28px;
}
ul li{
  padding: 4px;
  list-style-type: circle;
}
.emotion_description, .emotion_title, .symptoms, .descrip_emotion{
  padding: 10px;
}
  a{
    text-decoration: none;
    color: #000;
  }
  a:hover {
    text-decoration: none;
    color: #000;
  }
  @media only screen and (max-width: 768px) {
    p{
      display: flex;
      flex-wrap: wrap;
      word-wrap: normal;
      font-size: 18px;
    }
    .main_photos{
      display: flex;
      flex-direction: column;
      max-width = 100%;
      justify-content: center;
      align-items: center;
    }
    .text_home, .photo_home, .photo_text{
      display: flex;
      flex-direction: column;
      max-width = 90%;
    }
    .main{
      border: none;
    }
    .textleft, .textright{
      max-width: 80%;
    }
    .header{
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 10px;
      padding-left: 16px;
      padding-right: 16px;
      background-color: #000;
      font-family: inherit;
      margin: 0;
      height: 100%;
    }
    .menu_items{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 16px;
      background-color: #000;
      float: right;
    }
    .emotion-grid-item{
      min-width: 25%;
      max-width: 40%;
    }
    .emotion_link{
      margin: 12px;
      border: none;
    }
    a p{
      font-size: 16px;
    }

  }
